
.gameboard {

  height: $board_size;
  width: $board_size;

  border: $outer_border;
  border-spacing: 0;
}


.gameboard-row:nth-of-type(3n + 1):not(:first-of-type) > td {
  border-top: $outer_border;
}

.gameboard-cell {

  width: $cell_size;
  height: $cell_size;

  font-weight: 600;

  border: $inner_border;
  text-align: center;

  &:nth-of-type(3n + 1):not(:first-of-type) {
    border-left: $outer_border;
  }

  &:hover {
    background-color: red;
    cursor: pointer;
  }
}

.gameboard-cell-selected {
  border: none;
  background-color: blue;
}

.gameboard-cell-provided {
  border: none;
  background-color: lighten($outer_border_color, 5%);

  &:hover {
    background-color: lighten($outer_border_color, 5%);
    cursor: default;
  }
}

.gameboard-cell-valid {
  border: none;
  background-color: lighten(#67A64B, 20%);
}

.gameboard-cell-input {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  text-align: center;

  border: none;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.gameboard-cell-error {
  border: none;
  background-color: lighten(red, 30%);
}
