$outer_border_color: #CCC;
$inner_border_color: #FAFAFA;
$outer_border: 1px solid $outer_border_color;
$inner_border: 1px solid $inner_border_color;

.gameboard {

  margin: 5px;
  height: $board_size;
  width: $board_size;

  border: $outer_border;
  border-spacing: 0;
}


.gameboard-row:nth-of-type(3n + 1):not(:first-of-type) > td {
  border-top: $outer_border;
}

.gameboard-cell {
  font-weight: 600;

  border: $inner_border;
  text-align: center;

  &:nth-of-type(3n + 1):not(:first-of-type) {
    border-left: $outer_border;
  }
}

.gameboard-cell-active {
  border: none;
  background-color: $inner_border_color;
}

.gameboard-cell-provided {
  border: none;
  background-color: $outer_border_color;

  &:hover {
    background-color: $outer_border_color;
    cursor: default;
  }
}

.gameboard-cell-valid {
  border: none;
  background-color: lighten(#67A64B, 20%);
}

.gameboard-cell-input {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  width: floor($board_size / 9) - 4;
  height: floor($board_size / 9) - 4;
  text-align: center;

  border: none;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.gameboard-cell-error {
  border: none;
  background-color: lighten(red, 30%);
}
