<td class="gameboard-cell{{#if provided}} gameboard-cell-provided{{/if}}">
  {{#if provided}}
    {{value}}
  {{else}}
    <input type="tel" maxlength="1" pattern="1-9" class="gameboard-cell-input" value="{{value}}">
  {{/if}}
</td>