<span class="keyboard">
  <button class="keyboard-key" data-value="1">1</button>
  <button class="keyboard-key" data-value="2">2</button>
  <button class="keyboard-key" data-value="3">3</button>
  <button class="keyboard-key" data-value="4">4</button>
  <button class="keyboard-key" data-value="5">5</button>
  <button class="keyboard-key" data-value="6">6</button>
  <button class="keyboard-key" data-value="7">7</button>
  <button class="keyboard-key" data-value="8">8</button>
  <button class="keyboard-key" data-value="9">9</button>
</span>
